{% from theme('_helpers.html') import render_comment with context %}
{% if not request.is_xhr %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.3.0/pure-min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css">
<link rel="stylesheet" href="{{theme_static('css/pure.css')}}">
<link rel="stylesheet" href="{{theme_static('css/custom.css')}}">
{% endif %}
<div class="pure-g-r" id="layout-comments">
    <div class="pure-u-1">
        <div class="comment-area">
            <!-- A wrapper for all the comments -->
            <div class="comments">
                <ul>
                {% for comment in comments %}
                    {{ render_comment(comment) }}
                {% endfor %}
                </ul>
            </div>
            <div class="comment-open">
                 {% if not Config.get('comments', 'requires_login') or current_user.is_authenticated %}
                {% if parent_comment %}
                <h4>Reply {{parent_comment.author_name}} <span class="cancel-reply"><a rel="nofollow" id="cancel-comment-reply-link" href="javascript:void(0);" onclick="return reply_comment('');">Cancel reply</a></span></h4>
                {% else %}
                <h4>Leave a comment </h4>
                {% endif %}
                <form role="form" class="pure-form pure-form-stacked"
                      action="{{url_for('quokka.modules.comments.comment', path=path)}}" method="post"
                      id="comment-form">
                    <fieldset>
                        {% for field in form %}
                        {% if field.type in ['CSRFTokenField', 'HiddenField'] %}
                        {{ field() }}
                        {% endif %}
                        {% endfor %}

                        <div class="{%if form.body.errors%}has-error{%endif%}">
                            <label for="body">Comment(required)</label>
                            {{form.body(class="comment-text", rows="10", columns="90", required="required")}}
                        </div>

                        <div class="{%if form.author_name.errors%}has-error{%endif%}">
                            <label for="author_name">Name(required)</label>
                            {% if current_user.is_authenticated %}
                            {{form.author_name(value=current_user.name, type="hidden")}}
                            {{current_user.name}}
                            {% else %}
                            {{form.author_name(class="form-control", placeholder="your name", required="required", size="30")}}
                            {% endif %}
                        </div>

                        <div class="{%if form.author_email.errors%}has-error{%endif%}">
                            <label for="author_email">Email(required, never make public)</label>

                            {% if current_user.is_authenticated %}
                            {{form.author_email(value=current_user.email, type="hidden")}}
                            {{current_user.email}}
                            {% else %}
                            {{form.author_email(class="form-control", size="30", placeholder="you@domain.com", required="required",
                            type="email")}}
                            {% endif %}
                        </div>


                        <div class="{%if form.captcha.errors%}has-error{%endif%}">
                            <label for="captcha_value">Captcha(required,click to refresh)</label>
                            {{form.captcha(class="", required="required", size="30")}}
                        </div>

                        <div class="actions">
                            <input type="submit" class="pure-button" value="comment">
                        </div>

                    </fieldset>
                </form>
                {% else %}
                <a href="{{url_for_security('login', next='/{0}.html'.format(path))}}" style="margin-bottom:10px;"
                   class="pure-button">Login to add a comment</a>
                {% endif %}

                {% if request.method == "POST" and not current_user.is_authenticated %}
                <span class="alert alert-info">Thanks, your comment will be moderated!</span>
                {% endif %}
            </div>
        </div>
    </div>
</div>
