<div class="pure-u-1-4" style="float: right;">
    <div class="sidebar">

        {% include theme('flashes.html') %}

        <div id="social" class="widget">
            <header class="header">
                <hgroup>
                    <p class="social">
                      {% for title, link in Config.get('site', 'social_items', []) or [] %}
                      <a href="{{ link }}">
                          <i class="fa fa-{{ title }} fa-3x"></i>
                        </a>
                        {% endfor %}
                    </p>

                </hgroup>
            </header>
        </div>

        <div id="recentComment" class="widget">
            <h3>Recent Comments</h3>
            <ul id="commentList">
                {% for comment in Comment.objects.exclude("replies").filter(content__exists=True, published=True).limit(10) %}
                    <li>{{comment.author_name}} on <a href="{{ comment.content.get_absolute_url() }}">{{ comment.content.title }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <div id="tagCloud" class="widget">
            <h3>Tags</h3>
            <ul id="tagList">
                {% for tag in Content.objects.aggregate({"$project": {"_id": 0, "tags": 1}},
                                         {"$unwind": "$tags"},
                                         {"$group": {"_id": "$tags",
                                          "occur": {"$sum": 1}}}) %}
                    <li><a href="{{url_for('quokka.core.tag', tag=tag['_id'], _external=True)}}">{{tag['_id']}}</a></li>
                {% endfor%}
            </ul>
        </div>

        <div id="archieves" class="widget">
            <h3>Archives</h3>
            <ul id="archieveDate">
                 {% for archive in Content.objects.aggregate({"$group":{"_id": { "month":{"$month": "$created_at"}, "year":{"$year": "$created_at"} },
                       "numberofcontents":{"$sum":1} } }) %}
                    <li><a href="{{url_for('quokka.core.archive', month_of_year=(archive['_id']['year']|string)+(archive['_id']['month']|string), _external=True)}}">{{archive['_id']['year']}}年{{archive['_id']['month']}}月</a></li>
                {% endfor%}
            </ul>
        </div>
    </div>
</div>
